/* Globals */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500|Roboto:400,400i,500,500i,700&display=swap&subset=chinese-traditional');
body {
    font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", Helvetica, 'Microsoft JhengHei', '微軟正黑體', Arial, sans-serif;
    font-weight: 400;
    background: #F5F5F5;
    color: #212121;
}

.tooltip {
    font-family: 'Roboto', 'Noto Sans TC', "Helvetica Neue", Helvetica, 'Microsoft JhengHei', '微軟正黑體', Arial, sans-serif;
    font-weight: 400;
}

hr {
    border-top: 1px solid #BDBDBD;
}

a {
    color: #448AFF;
}

a:hover {
    font-weight: 500;
    color: #388E3C;
}

/* Override Bootstrap's default container. */

.container {
    max-width: 60rem;
}

.pull-right {
    float: right !important;
}

.text-info {
    font-size: 1.3rem;
    font-weight: 500;
    color: #33691E !important;
}

.tooltip {
    font-size: 0.8em;
}

.lead {
    font-weight: 400;
}

/* Masthead for nav */

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #0277BD;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    width: 100%;
}

/* Nav links */

.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #CDDDEB;
    font-size: 1.2rem;
}

.nav-link:hover,
.nav-link:focus {
    color: #F5F5F5;
    background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
    color: #F5F5F5;
}

.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}

/* Blog header and description */

.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #BDBDBD;
}

.blog-title {
    margin-bottom: 0;
    font-size: 1.35rem;
    font-weight: 500;
    color: #000000;
}

.blog-description {
    margin-top: .5rem;
    font-size: 1rem;
    color: #607D8B;
}

/* Blog posts */

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 1.3rem;
}

/* Footer */

.blog-footer {
    padding: .2rem 0;
    font-size: 0.9rem;
    text-align: center;
    background-color: #C2C2C2;
    color: #707070;
    border-top: .05rem solid #707070;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}
 
/* Table */

.table th,
.table td {
    padding: 0.5rem;
    vertical-align: middle;
}

.thead-custom,
.thead-custom > th {
    color: #1B1924;
    background-color: #B5C1B4;
}

.thead-custom:hover {
    color: #B5C1B4;
    background-color: #74593D;
}

.table-hover tbody {
    color: #1B1924;
}

.table-hover tbody tr:hover {
    color: #B5C1B4;
    background-color: #74593D;
}

.gray-out {
    font-style: italic;
    color: #BDBDBD;
}

@media (min-width: 40em) {
    html {
        font-size: 1.25em;
    }

    .blog-title {
        font-size: 2.2rem;
    }
}

body.dark-mode {
    color: #BDBDBD;
    background-color: #000000;
}

body.dark-mode .blog-masthead {
   background-color: #01579B;
}

body.dark-mode .blog-title {
    color: #FAFAFA;   
}

body.dark-mode .nav-link.active {
    color: #000000;
}

body.dark-mode .table-hover tbody {
    color: #BDBDBD;
}

body.dark-mode .table-hover tbody tr:hover {
    color: #FFFFFF;
}

body.dark-mode .thead-custom,
.thead-custom > th {
    color: #1B1924;
    background-color: #758174;
}

body.dark-mode .gray-out {
    color: #1D1D1D;
}

body.dark-mode .blog-footer {
    background-color: #323232;
    color: #A0A0A0;
}

body.dark-mode .bs-tooltip-bottom .arrow::before{
    border-bottom-color: #CFD8DC;
}

body.dark-mode .bs-tooltip-top .arrow::before{
    border-top-color: #CFD8DC;
}

body.dark-mode .bs-tooltip-left .arrow::before{
    border-left-color: #CFD8DC;
}

body.dark-mode .bs-tooltip-right .arrow::before{
    border-right-color: #CFD8DC;
}

body.dark-mode .tooltip-inner{
    background-color: #CFD8DC;
    color: #000000;
}

body.dark-mode .text-info {
    font-size: 1.3rem;
    font-weight: 500;
    color: #8BC34A !important;
}

.runScale {
    animation: scale 0.6s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes scale {
    0% {
      transform-origin: bottom top;
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  

/* This site color design refer to Google Material Design and "https://www.bfa.com.tw/blog/2016/50-color-combinations" */